# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
dist/
build/

# Daten (generiert)
data/csv/
data/parquet/

# IDE
.vscode/
.idea/

# NiceGUI
.nicegui/

# Env
.env
data/schema/artikel.yaml
data/schema/einkauf.yaml
data/schema/kontakte.yaml
data/schema/lieferant.yaml
data/schema/project.yaml
data/db.duckdb
